/* specification */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');
body{
	background-color: #eeeeee;
	font-family: "Roboto";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: #303841;
	text-align: center;
	-webkit-font-smoothing:antialiased;
	-webkit-overflow-scrolling:touch;
}
p{
	font-size: 16px;
	font-family: "Roboto";
	color: #303841;
	line-height: 26px;
	font-style: normal;
	font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto";
	font-weight: 300;
	margin: 0;
}
ul, li{
	display: block;
	margin: 0;
	padding: 0;
}
/* header specification */

header{
	background-color: #fafafa;
	padding-top: 50px;
	height: 158px;
}

.navbar-brand{
	border: 2px solid #303841;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 10px;
}
.logo-up{
	font-family: "Lato";
	font-size: 18px;
	line-height: 22px;
	font-weight: 500;
	color: #303841;
	margin: 15px;
}
.logo-down{
	font-family: "Lato";
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	color: #303841;
}
.menu{

}

.menu__item{
	margin: 0 20px;
}
.menu__leng{
	margin: 0 12px;
}
.menu__item  a {
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #303841;
}
.menu__item a:hover {
	text-decoration: none;
	color: #303841;
	border-bottom: 2px solid #303841;
	padding-bottom: 15px;
}
.menu__leng  a {
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #303841;
}
.menu__leng a:hover {
	text-decoration: none;
	color: #303841;
	border-bottom: 2px solid #303841;
	padding-bottom: 15px;
}


/* section1 specification */


.carousel .item {
	color: #999;
	text-align: center;
	overflow: hidden;
	min-height: 290px;
}
.carousel .carousel-control {
	width: 100px;
	background: #eeeeee;
	font-size: 40px;
	color: #1b1e21;
}
.carousel-control i {
	font-size: 68px;
	line-height: 42px;
	position: absolute;
	display: inline-block;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}

.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 1px 3px;
	border-radius: 50%;

}
.carousel-indicators li {
	background: white;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);

}
.carousel-indicators li.active {
	background: #000;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}

/*2 section  about*/
.section_about{
	background-color: #fafafa;
	padding-bottom: 79px;
}
.padding_fromTop{
	padding-top: 100px;
	align-items: center;
}
.red_road{
	border: 2px solid red;
}
h1 a{
	color: #D72323;
	margin: 0;
	text-transform: uppercase;
}
h1 a:hover{
	color: #303841;
	text-decoration: none;
}
.artist_png{
	display: block;
	margin-top: 88px;
}
.artist_text{
	width: 470px;
	text-align: left;
	margin-top: 88px;
	margin-left: 94px;

}
.next_read_artist a{
	font-size: 16px;
	color: red;
	font-weight: bold;
	line-height: 26px;
}
.next_read_artist a:hover{
	text-decoration: none;
	font-weight: normal;
}

/* 3 section gallery */
.section_gallery{
	padding-bottom: 84px;
}
.image_galley{
	margin-top: 30px;
}
.intro_gallery{
	width: 500px;
	height: 470px;
	margin: 30px auto;
}
.link_gallery a {
	text-transform: uppercase;
	font-size: 32px;
	line-height: 37px;
	color: #303841;
	margin-top: 40px;
}
.link_gallery a:hover {
	text-decoration: none;
	color: #5a6268;
}
.btn:focus, .btn:active, button:focus, button:active {
	outline: none !important;
	box-shadow: none !important;
}

#image-gallery .modal-footer{
	display: block;
}

.thumb{
	margin-top: 15px;
	margin-bottom: 15px;
}
/* 4 section event*/

.event_section{
	background-color: #fafafa;
	padding-bottom: 100px;
}
.event_image_news{
	width: 400px;
	height: 300px;
	margin-top: 60px;
}
.offer_event{
	margin-top: 20px;
	margin-left: 70px;
	text-align: left;
}
.event_tittle{
	text-transform: uppercase;
	color: red;
	text-align: left;
	font-size: 24px;
	width: 402px;
}
.event_text{
	text-align: left;
	margin: 20px 0px;
	width: 288px;
}

/* 5 section contact*/

#contact{
	display: block;
	position: relative;
	background: rgba(48, 56, 65, 0.8);
	padding-bottom: 60px;
}
#contact::after {
	content: "";
	background: url(../images/air_plane_contact.png) no-repeat center;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}
.contact_tittle{
	font-size: 48px;
	line-height: 56px;
	text-transform: uppercase;
	margin-top: 62px;
	border-bottom: 2px solid white;
	padding-bottom: 20px;
	width: 256px;
	margin-bottom: 60px;
}
.form-group{
	margin-top: 40px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 50000000s ease-in-out 0s;
	-webkit-text-fill-color: #fff !important;
}
input{
	width: 100%;
	border: none;
	outline: none;
	background: transparent;
	padding: 10px;
	border-bottom: 2px solid white;
	color: white;
	font-size: 24px;
	font-family: "Roboto";

}
textarea{
	width: 100%;
	border: none;
	outline: none;
	background: transparent;
	border-bottom: 2px solid white;
	color: white;
	font-size: 24px;
	font-family: "Roboto";
}
::placeholder {
	color: white;
	font-size: 24px;
	font-weight: 500;
}
.btn_submit{
	background-color:  rgba(215, 35, 35, 0.4);
	border-radius: 4px;
	padding: 20px 34px;
	color: white;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	cursor: pointer;
	border: none;
	margin-top: 60px;
}
.contact_text{
	margin-top: 200px;
	text-align: left;
}
.contact_intro{
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	margin: 20px;
}
.icons_item{
	margin-right: 34px;
}
.icons_item a{
	font-size: 24px;
	color: white;
}
.icons_item a:hover{
	text-decoration: none;
	color: #9fcdff;
}

/* footer */

.footer{
	height: 208px;
	background-color: #fafafa;
	padding-top: 70px;
}
.footer_item{
	margin-right: 41px;
}
.footer_item a{
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	color: #303841;
}
.footer_item a:hover {
	text-decoration: none;
	color: #303841;
	border-bottom: 2px solid #303841;
	padding-bottom: 15px;
}